<table mat-table[dataSource]="Briefings" class="mat-elevation-z8 demo-table">
  <!-- Client Column -->
  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let briefing">{{briefing.client}}</td>
  </ng-container>

  <!-- Service Column -->
  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef>Serviço</th>
    <td mat-cell *matCellDef="let briefing">{{briefing.service}}</td>
  </ng-container>

  <!-- Date-time Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Data e Hora</th>
    <td mat-cell *matCellDef="let briefing">{{briefing.date}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
